{% extends "base.html" %}

{% block content %}

{% if pdf_path %}
    <div>
    <embed src="{{ pdf_path }}" type="application/pdf" width="50%" height="600px">
    </div>    
    {% endif %}

    <form method="POST">
    {% csrf_token %}
        {{form}}
    <button type="submit"> Ask! </button>
    </form>

    {% if llm_response %}
    
        {% for response in llm_response  %}
        
            {% if forloop.counter|divisibleby:2 %}
                AI: {{ response }}
            {% else %}
                User: {{ response }}
            {% endif %}
            <br>
        
        {% endfor %}
    {% endif %}

{% endblock content %}



